<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{channel}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="userlist()">
        <ion-icon name="people"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content class="has-header has-footer content-stable" >
 <!--  <button type="submit" (click)="userlist()"><ion-icon name="back"></ion-icon> Back</button>-->
  
<ion-infinite-scroll (infinite)="onScroll($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

<div *ngFor="let content of messages" class="message-wrapper"
                  >
      
                  <div *ngIf="content.sender=='sender'" >
                      
                    <img  class="profile-pic left" 
                          src="{{avatarUrl(content.user)}}"  />
      
                      <div class="chat-bubble left">
      
                          <div class="message"  [innerHTML]="content.content" >
                          </div>
      
                          <div class="message-detail">
                              <span 
                                  class="bold">{{content.user}}</span>,
                              <span am-time-ago="content.date"></span>
                          </div>
      
                      </div>
                  </div>
      
                  <div *ngIf="content.sender=='reciever'" >
                    
                       <img  class="profile-pic right" 
                          src="{{avatarUrl(content.user)}}"  />
                    
                      <div class="chat-bubble right">
      
                          <div class="message" [innerHTML]="content.content">
                          </div>
      
                          <div class="message-detail">
                              <span ng-click="viewProfile(message)" 
                                  class="bold">{{content.user}}</span>, 
                              <span am-time-ago="content.date"></span>
                          </div>
      
                      </div>
                    
                  </div>
      
                  <div class="cf"></div>
      
              </div>

</ion-content>
<ion-footer >
  <form [formGroup]="messageForm" (ngSubmit)="sendMessage(messageForm.value)">
<ion-toolbar position="bottom">
    <ion-textarea placeholder="Type your message here" formControlName="message" [(ngModel)]="message" ></ion-textarea>
    <ion-buttons end>
        <button ion-button icon-only type="submit" [disabled]="!messageForm.valid"><ion-icon name="send"></ion-icon></button>
    </ion-buttons>
</ion-toolbar>
</form>
</ion-footer>
